* {
  text-align: center;
  background-color: black;
  color: white;
}
.top {
  margin-top: 10%;
}
.title {
  color: lightblue;
}
.counter {
  color: white;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  background-color: white;
  padding: 10px;
}
.store {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: 10px;
  border: 10px solid rgb(159, 47, 47);
  margin-top: 5%;
}

.store-view {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/*
flex-direction: column;  we care about the main axis downward 
align-items: center;  cross axis alignemt 
*/
.buttons button, .store button {
  background-color: darkblue;
  border-color: orange;
  color: white;
}
.counter-button {
  width: 50%;
  margin-top: 5px;
}
.counter-button-clear {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.store-row {
  width: 100%;
  display: flex;
}
.store-row p {
  float: left;
  width: 50%;
}
.store h1 {
  width: 100%;
  margin: 0 0;
  border-bottom: 1px solid white;
}
.store-button {
  align-self: center;
  width: 40%;
}
